// custom css for Remoi

.headblock {
  padding : 5px 10px;
  background-color : #000000;
  color : #ffffff;
  border-radius : 0 0 20px 0;
}
.headblock h1 {
  margin : 0;
}
.sideblock {
  border-right : 1px solid #000000;
  padding : 10px 5px;
  background-color : #dedede;
}
.contentblock {
  padding : 10px 5px;
}
