// custom css for Remoi
$default-bg-color: #ffffff;
$header-link-color: #ffffff;
$grey-border: 1px solid #afafaf;

body {
  background: url(/stripe_red.png);
}

.wrapper {
  background: url(/fade.png) repeat-x;
}

@mixin header-link {
  color: $header-link-color;
}

.inbox {
  font-family: "Courier New", "Courier";
  color: #000555;
  font-size: 1.2em;
}

.menu-ul {
  hr {
    color: #afafaf;
    background-color: #afafaf;
    height: 1px;
    margin: 20px 5px 5px -20px;
  }
}


.menu-li {
  border-bottom: 0px;
  list-style-type: none;
  margin: 20px 5px 5px -20px;
  .gather-title {
    font-size: 14px;
  }
}

#user_nav {
  color:#ffffff;
  padding-right: 20px;
  margin-right: -20px;
  background: #000000;
  text-align: right;

  a {
    @include header_link;
    text-decoration: underline;
  }
  a:href {
    @include header_link;
  }
  a:visited {
    @include header_link;
  }
}

#page-logo {
    a {
      display: block;
      width: 100px;
      height: 25px;
    }
}

.headblock {
  padding : 5px 10px;
  height: 40px;
  background: #000000 url('/redmoi-banner.png') no-repeat left top;
  color : #ffffff;
  border-radius : 0 0 20px 0;
  h1 {
    margin: 0;
    float: left;
  }
  a {
    @include header_link;
  }
  a:href {
    @include header_link;
  }
  a:visited {
    @include header_link;
  }
  .header-footer {
    font-size: 10px;
    padding-left: 10px;
  }
}
.sideblock {
  border-right : $grey-border;
  border-bottom : $grey-border;
  padding : 10px 5px;
  background-color : #dedede;
  min-height: 600px;
  box-shadow: 3px 0px 5px #888;
}
.container {
  border-left : 1px solid #000000;
  border-right : $grey-border;
  background: #ffffff;
  box-shadow: 1px 0px 3px #888;
}
.contentblock {
  padding : 10px 5px;
  font-family: "Helvetica", "Verdana", "Courier New";
  overflow: auto;
  overflow-y: hidden;
  line-height: 1.7em;
  text-align: justify;
  h1 {
    font-size: 2.0em;
    margin: 10px 0
  }

  h2 {
    margin: 10px 0
  }

  h3 {
    margin: 10px 0
  }

  h4 {
    margin: 10px 0
  }

  img {
    max-width: 620px;
  }

  table {
    width: 620px;
  }

  p {
    line-height: 1.8em;
    font-size: 14px;
    margin: 0 0 1.5em 0px;
  }

  div {
    @extend p;
  }

  ul {
    list-style-type: disc;
  }

  li {
    line-height: 1.7em;
    font-size: 14px;
    margin: 0px 0px 1em 0px;
    text-align: -webkit-match-parent;
  }
}
.footer {
  background-color: #dfdfdf;
  padding: 5px 0;
  min-height: 100px;
  text-align: center;
  box-shadow: 0px -3px 3px #888;
  border-top: 0px dashed #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #afafaf;
}

.menu-del {
  a {
   color: #000000;
  }
  margin: -5px 0 15px 15px;
  display: none;
}

