<p><%= link_to 'NEW', new_gather_path %></p>
<ul>
<% @gathers.each do |g| %>
  <li><%= link_to g.title, gather_path(g) %>
  <%= button_to 'DEL', gather_path(g), :method => :delete %></li>
<% end %>
</ul>
