<% if current_user %>

<p class="row">
  <span class="span1">
    <%= link_to new_gather_path do %>
      <i class="icon-plus"></i>
    <% end %>
  </span>
  <span class="span1" id="menu-edit">
    <%= link_to_function 'EDIT', 'test()' %>
  </span>
</p>

  <% unless @gathers.nil? %>
    <ul class="menu-ul">
    <% @gathers.each do |g| %>
      <li class="menu-li">
        <span class="menu-del"><%= link_to 'x', gather_path(g), :method => :delete %></span>
        <span class="gather"><%= link_to g.title, gather_path(g) %></span>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
